/* Стили для header */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 2px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Mooli', sans-serif; /* Выбор шрифта */
}

h1, nav {
    display: inline; /* Устанавливаем элементам внутри блока горизонтальное расположение */
}

nav li {
    margin-left: 20px;
}


ol {
    list-style-type: square;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

h1 nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 16px;
    text-align: right;
}

nav a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #fff; /* Цвет текста */
}

/* Стили для main */
main {
    padding: 80px 20px 20px 20px;
}

/* Стили для всей формы */
form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

/* Стили для заголовка формы */
form h2 {
    color: #333;
}

/* Стили для элементов ввода текста */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* Стили для кнопки отправки */
button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для кнопки при наведении */
button[type="submit"]:hover {
    background-color: #07ffe2;
}

/* Стили для поля ввода в фокусе */
input:focus,
textarea:focus {
    border: 2px solid #4caf50;
    outline: none;
}

/* Стили для checkbox и radio */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
    color: black;
}

input[type="file"] {
    color: darkred;
}

input[type="file"]:focus {
    color: darkblue;
}

/* Стили для меток (label) */
label {
    margin-bottom: 8px;
    color: black;
    display: inline-block;
}

/* Стили для fieldset и legend */
fieldset {
    border: 1px solid #027568;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

iframe {

}

legend {
    font-weight: bold;
    color: #333;
}

::placeholder {
    color: rgba(248, 0, 0, 0.43); /* Цвет текста подсказки */
    font-style: italic; /* Курсив для подсказки (по желанию) */
}

h2 {
    font-family: 'Mooli', sans-serif;

}

/* Стили для aside */
aside {
    background-color: #027568;
    color: #fff;
    margin: 10px;
    padding-bottom: 5px;
}

aside h2 {
    margin-bottom: 5px;
}

aside p {
    margin-top: 0;
    margin-bottom: 5px;
}

/* Стили для footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 0;
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для изображений */
img {
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Стили для ссылок */
a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении */
}


/* наводка */
nav ul li a:hover {
    border-color: #ff6600;
    color: #ff6600;
}


/* зажатие */
nav ul li a:active {
    background-color: #ff6600;
    color: #fff;
}

/* посещённые */
nav ul li a:visited {
    color: #9900cc;
}


* {
    font-family: "Raleway";
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

@media (max-width: 390px) {
    header h1 {
        font-size: 22px;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 40px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    pre {
        margin: 0;
    }

    .gallery-item {
        flex: 1 0 100%; /* На узких экранах элементы занимают всю ширину */
    }
}

.gallery {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1 0 300px; /* Одинаковая ширина, но могут уменьшаться */
    margin: 8px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes circle-to-square {
    from {
        height: 50px;
        width: 50px;
    }
    to {
        height: 160px;
        width: 190px;
    }
}

@keyframes change-color {
    from {
        background-color: #f4f4f4
    }
    50% {
        background-color: #07ffe2
    }
    to {
        background-color: #007bff
    }
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #3498db;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.button:hover {
    background-color: #3498db;
    color: #fff;
    transform: scale(1.2);
}

.button1:hover {
    transform: rotate(35deg);
}

.button2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    z-index: -1;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
    transform-origin: right;
}

.button2:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.button3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    z-index: -1;
    transition: transform 0.3s ease-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.button3:hover::before {
    transform: scaleY(1);
    transform-origin: top;
}

.button4 {
    overflow: hidden;
}

.button4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    z-index: -1;
    transition: transform 0.3s ease-out;
    transform: skewX(-30deg) scaleX(0);
    transform-origin: left;
}

.button4:hover::before {
    transform: skewX(-30deg) scaleX(1);
}

.notification-container {
    position: relative;
    display: inline-block;
}

.notification-icon {
    font-size: 24px;
}

.notification-list {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #222222;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-list li:last-child {
    border-bottom: none;
}

.notification-container:hover .notification-list {
    display: block;
}

#toggleNotifications {
    display: none;
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.gallery-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .image-overlay {
    opacity: 1;
}

.image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover .image-description {
    transform: translateY(0);
}